/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.textile {
	display:inline-block;
}
.textile .markItUpButton1 a {
	background-image:url(../img/textile/h1.png);
}
.textile .markItUpButton2 a {
	background-image:url(../img/textile/h2.png);
}
.textile .markItUpButton3 a {
	background-image:url(../img/textile/h3.png);
}
.textile .markItUpButton4 a {
	background-image:url(../img/textile/h4.png);
}
.textile .markItUpButton5 a {
	background-image:url(../img/textile/h5.png);
}
.textile .markItUpButton6 a {
	background-image:url(../img/textile/h6.png);
}

.textile .markItUpButton7 a {
	background-image:url(../img/textile/bold.png);
}
.textile .markItUpButton8 a {
	background-image:url(../img/textile/italic.png);
}
.textile .markItUpButton9 a {
	background-image:url(../img/textile/stroke.png);
}

.textile .markItUpButton10 a {
	background-image:url(../img/textile/list-bullet.png);
}
.textile .markItUpButton11 a {
	background-image:url(../img/textile/list-numeric.png);
}

.textile .markItUpButton12 a {
	background-image:url(../img/textile/link.png);
}

